header{
    border: 2px solid black;
    width: 98%;
    display: flex;
    justify-content: space-between;
    
}
.logo{
border: 1px solid black;
width: 120px;
height: 50px;
margin: 10px;
margin-left: 20px;
background-color: yellow;

}
.menu{
    border: 1px solid black;
    width: 400px;
    margin: 10px;
    margin-right: 20px;
background-color: grey;

}