main{
    display: flex;
}
.lateral{
    border: 1px solid black;
    width: 30%;
    height: 500px;
}
.contenido{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 60%;
    align-content: space-around;
    justify-content: space-around;
    height: 500px;

}
.bloque1{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    height: 50%;    

}
.bloque2{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    height: 50%;  


}
.imagen1{
    border: 1px solid black;
    height: 40%;
    width: 40%;
    align-content: space-around;
    background-color: aqua;
}
.imagen2{
    border: 1px solid black;
    height: 40%;
    width: 80%;
    background-color: green;
    
}
.imagen3{
    border: 1px solid black;
    height: 40%;
    width: 40%;
    background-color: blue;
    
}
.imagen4{
    border: 1px solid black;
    height: 40%;
    width: 80%;
    background-color: brown;    
}